*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0px auto;
}
.menu{
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-between;
}
li{
    list-style: none;
}
.main_page{
    width: 90%;
    margin: 100px auto;
}